
.column {
  float: left;
  width: 25%;
  padding:5px;
}


@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

@media screen and (min-width: 2048px) and (max-width:3046px) {
  .column {
    width: 50%;
  }
}